<%
	folderUpload = "upload/article/";
	const linkPrefix = systemConfig.prefixBlog + "/article/"; //blog
%>
<% include ./../../helper/format-date.ejs %>
<% include ./../../helper/format-summary.ejs %>

<div class="col-lg-8 post-list">
	<!-- Start latest-post Area -->
	<div class="latest-post-wrap">
		<h4 class="cat-title">Thể Loại: <i><%= articleItem[0].categ.name %></i></h4>
		<% articleItem.forEach((item, i) => { %>
		<div class="single-latest-post row align-items-center">
			<div class="col-lg-5 post-left">
				<div class="feature-img relative">
					<div class="overlay overlay-bg"></div>
					<img class="img-fluid" src="<%= folderUpload + item.avatar %>" alt="">
				</div>

			</div>
			<div class="col-lg-7 post-right">
				<a href="<%= linkPrefix + item._id %>">
					<h4><%= item.username %>.</h4>
				</a>
				<ul class="meta">
					<li><a href="#"><span class="lnr lnr-user"></span><%= item.created.name %></a></li>
					<li>
						<a href="#"><span class="lnr lnr-calendar-full"></span><%= formatdate(item.created.time) %></a>
					</li>
					<!-- <li>
                            <a href="#"><span class="lnr lnr-bubble"></span>06 Comments</a>
                        </li> -->
				</ul>
				<p class="excert">
					<p class="excert"><%- formatsummary(item.content) %>...</p>
				</p>
			</div>
		</div>
		<% }); %>
		<div class="load-more">
			<a href="#" class="primary-btn">Load More Posts</a>
		</div>

	</div>
	<!-- End latest-post Area -->
</div>