<% 
	folderUpload = "upload/article/";
%>
<% if(itemSpecial.length > 2){ %>
	<section class="top-post-area pt-10">
		<div class="container no-padding">
			<div class="row small-gutters">
				<div class="col-lg-8 top-post-left">
					<br />
					<div class="feature-image-thumb relative">
						<div class="overlay overlay-bg"></div>
						<img class="img-fluid" src="<%= folderUpload + itemSpecial[0].avatar %>" alt="aaaaaaaaaa" />
					</div>
					<div class="top-post-details">
						<ul class="tags">
							<li>
								<a href="#"><%= itemSpecial[0].categ.name %></a> <!-- thẻ tag -->
							</li>
						</ul>
						<a href="image-post.html">
							<h3><%= itemSpecial[0].username %></h3> <!-- tên bài viết -->
						</a>
						<ul class="meta">
							<li>
								<a href="#">
									<span class="lnr lnr-user"></span><%= itemSpecial[0].created.name %></a> <!-- tên người viết -->
							</li>
							<li>
								<a href="#">
									<span class="lnr lnr-calendar-full"></span><%= moment(itemSpecial[0].created.time).format(systemConfig.format_long_timeFE) %></a><!-- thời gian viết -->
							</li>
						</ul>
					</div>
				</div>
				<!-- nếu không lớn hơn 2 bài viết thì hiện chỗ này -->
				<div class="col-lg-4 top-post-right">
					<% for(let i = 1; i < itemSpecial.length; i++){ %>
						<div class="single-top-post">
							<div class="feature-image-thumb relative">
								<div class="overlay overlay-bg"></div>
								<img class="img-fluid" src="<%= folderUpload + itemSpecial[i].avatar %>" alt="aaaa" />
							</div>
							<div class="top-post-details">
								<ul class="tags">
									<li>
										<a href="#"><%= itemSpecial[i].categ.name %></a><!-- thẻ tag -->
									</li>
								</ul>
								<a href="image-post.html">
									<h4><%= itemSpecial[i].username %></h4> <!-- tên bài viết -->
								</a>
								<ul class="meta">
									<li>
										<a href="#">
											<span class="lnr lnr-user"></span><%= itemSpecial[i].created.name %></a> <!-- tên người viết -->
									</li>
									<li>
										<a href="#">
											<span class="lnr lnr-calendar-full"></span><%= moment(itemSpecial[i].created.time).format(systemConfig.format_long_timeFE) %></a><!-- thời gian viết -->
									</li>
								</ul>
							</div>
						</div>
					<% } %>
				</div>
			</div>
		</div>
	</section>
<% } %>