<% 
    folderUpload = "upload/article/";
    const linkPrefix = systemConfig.prefixBlog + "/article/"; //blog
    const linkPrefixCateg = systemConfig.prefixBlog + "/category/"; //blog
%>
<div class="col-lg-8 post-list">
    <div class="latest-post-wrap">
        <h4 class="cat-title">Bài Viết Mới Nhất</h4>
        <% itemNew.forEach((item, i) => { %>
            <div class="single-latest-post row align-items-center">
                <div class="col-lg-5 post-left">
                    <div class="feature-img relative">
                        <div class="overlay overlay-bg"></div>
                        <img class="img-fluid" src="<%= folderUpload + item.avatar %>" alt="">
                    </div>
                    <ul class="tags">
                        <li><a href="<%= linkPrefixCateg + item.categ.id %>"><%= item.categ.name %></a></li>
                    </ul>
                </div>
                <div class="col-lg-7 post-right">
                    <a href="<%=linkPrefix + item._id %>"><h4><%= item.username %></h4></a>
                    <ul class="meta">
                        <li><a href="#"><span class="lnr lnr-user"></span><%= item.created.name %></a></li> 
                        <li><a href="#"><span class="lnr lnr-calendar-full"></span><%= moment(item.created.time).format(systemConfig.format_long_time) %></a></li>
                    </ul>
                    <p class="excert"><%- item.content.replace(/(<([^>]+)>)/igm,"").substr(0,150) %>...</p>
                </div>
            </div>
        <% }) %>
    </div>
</div>